

.titulo-principal{
    padding-left: 30px;

}

#banner {
    width: 100%;
}

.principal {
    background-color: #cccccc;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

/*selector de etiquetas*/
em strong { 
    color: rgb(182, 9, 9, 0.613)
}

/*selector de identificadores*/
#mision {
    font-size: 20px;
}

/*selector de clase*/
.diferenciales{
    background-color: white;
    padding: 30px;
}


.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenesDiferenciales{
    width: 50%
}